---
layout: default
title: Home
landing: "home-landing"
---
<a id="Offerings">
<div class="row"><div class="col-12 mb-4 mt-4"><h4 class="text-primary text-center font-weight-bold">Our Unique Offerings</h4></div></div>
<div class="row">
    {% assign items = site.services | sort: "priority" %}
    {% for service in items %}
    <div class="col-sm-offset-1 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-4 mb-3">
        <a href="/services/{{service.name}}.html">
        <div class="card h-100">
            <div class="card-header">{{service.title}}</div>
            <div class="card-body">
                <div class="row pb-2">
                    <img src="/assets/images/offerings/{{service.img}}" class="img-thumbnail border-0 col-6 offset-3"/>
                </div>
                <div class="row"><div class="col-10 offset-1 text-center">{{service.tagLine}}</div></div>


            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
</a>
<a id="Contact">
    <div class="row mb-3">
        <div class="col-lg-4 offset-lg-8 col-md-6 offset-md-6 col-sm-12">
            {% include contact-us.html %}
        </div>
    </div>
</a>